:root {
    --blue: #0c3559;
    --darkblue: #092640;
    --seablue: #687b8c;
    --lightseablue: #aab9bf;
    --light: #f2f2f2;
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--light);
    background-color: var(--darkblue);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;

}

h5 {
    color: var(--light);
}

#day-1,
#day-2,
#day-3,
#day-4,
#day-5 {
    background-color: var(--lightseablue);
}




.card-body p{
    color: var(light);
    

}

